<h1>Formulario del reto</h1>
<div class="row">
    <form class="col s12">
	<div class="row">
	    <div class="input-field col s6">
		<input id="names" type="text" class="validate">
		<label for="names">Nombres</label>
	    </div>
	    <div class="input-field col s6">
		<input id="surnames" type="text" class="validate">
		<label for="surnames">Apellidos</label>
	    </div>
	</div>
	<div class="row">
	    <div class="input-field col s6">
		<i class="material-icons prefix">email</i>
		<input id="icon_prefix" type="text" class="validate">
		<label for="icon_prefix">Corro electrónico</label>
	    </div>
	    <div class="input-field col s6">
		<label>Tipo de género</label><br><br>
		<select class="browser-default">
		    <option disabled value="">Escoja</option>
		    <option> Masculino </option>
		    <option> Femenino </option>
		    <option> Pon en las issues los otros géneros que faltan </option>
		</select>
	    </div>
	</div>
	<div class="row">
	    <div class="input-field col s12">
		<textarea id="textarea1" class="materialize-textarea"></textarea>
		<label for="textarea1">Comentario</label>
	    </div>
	</div>
	<div class="row">
	    <div class="input-field col s12">
		<label>Tipo de comentario</label><br><br>
		<select class="browser-default">
		    <option disabled value="">Escoge</option>
		    <option> Crítico </option>
		    <option> Histórico </option>
		    <option> Disertación </option>
		</select>
	    </div>
	</div>
	<div class="row">
	    <div class="file-field input-field">
		<div class="btn">
		    <span>File</span>
		    <input type="file">
		</div>
		<div class="file-path-wrapper">
		    <input class="file-path validate" type="text">
		</div>
	    </div>
	</div>
	<div class="row">
	    <div class="input-field col s6">
		<i class="material-icons prefix">link</i>
		<input id="icon_telephone" type="tel" class="validate">
		<label for="icon_telephone">Insertar enlace con información extra</label>
	    </div>
	</div>
	<button class="btn waves-effect waves-light" type="submit" name="action">Aceptar resultados
	    <i class="material-icons right">send</i>
	</button>
    </form>
</div>
